<%- include('includes/head') %>
<body>
  <form  method="POST">
    <div class="container">

      <div class="navlogo"><b class="in">RGPV NOTES ADMIN PANEL</b></div>
      
      <div class="wrapper">
    
      <div class="signup-container">
        <div class="email-id-wrapper">
          <b>Enter Username</b>
          <input name = "name" type="text" />
        </div>
  
        <div class="password-wrapper">
          <b>Enter Password</b>
          <input name = "pswd" type="password"  id="myinput" />
        </div>
          
         <div class="agree-join">
              <button>SignIn</button>
          </div>
  
  </form>


    </div>
  </div>
</div>
</body>
</html>

